html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --greyBorder : rgba(128, 128, 128, 0.4);
}
body {
  width: 70%;
  height: 99vh;
  margin: 0 auto;
  border: .25rem solid black;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
p { font-size: 1rem; }
button { font-size: .75rem; }
span { font-size: .75rem; }

h1, h2, p, button, span {
  font-family: helvetica, tahoma, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: .15rem;
  background-color: none;
}
/* Button styles. ----------------------------------- */
 button {
   background-color: black;
   color: white;
   border-radius: 8px;
 }
 button:hover {
   background-color: white;
   color: black;
   cursor: pointer;
 }
 /* The header styles. ---------------------------------- */
 .header {
   width: 100%;
   background-color: white;
   border-bottom: .25rem solid black;
 }
 /* The main container. --------------------------------- */
 .main {
   width: 100%;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
 }
 /* The colour selection containers. -------------------- */
.colScrollCont {
  width: 97%;
  height: 17%;
  border: .15rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.horizontalColDiv {
  width: 95%;
  height: 50%;
  border: .15rem solid black;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.horizontalColItem {
  min-width: 5rem;
  height: 100%;
  padding: 0;
  margin: 0;
  border: .1rem solid var(--greyBorder);
  display: inline-block;
}
.horizontalColItem:hover {
  cursor: pointer;
}
/* The sample text container. --------------------------- */
.textContainer {
  width: 97%;
  height: 20%;
  border: .15rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* The buttons container. ------------------------------- */
.buttonsContainer {
  width: 97%;
  height: 9%;
  padding: .15rem 1rem;
  border: .15rem solid black;
  display: flex;
  justify-content: space-evenly;
}
.buttonsContainer * {
  width: 13%;
  margin-left: 0;
  margin-right: 0;
}
.spanCont {
  border: .1rem solid var(--greyBorder);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spanCont span {
  width: 100%;
}
.buttonOn {
  background-color: white;
  color: black;
}
.buttonOff {
  background-color: black;
  color: white;
}
/* The fonts scroll container. -------------------------- */
.fontScrollCont {
  width: 97%;
  height: 27%;
  position: relative;
  border: .15rem solid black;
  overflow-y: scroll;
}
.guideMessage {
  width: 100%;
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 3;
}
.fontScrollItemDiv {
  width: 100%;
  border: .05rem solid var(--greyBorder);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fontScrollItemDiv:hover {
  cursor: pointer;
  background-color: var(--greyBorder);
}
.fontItemText {
  min-width: 50%;
  border: .1rem solid var(--greyBorder);
  background-color: white;
}
.overlayDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
 /* Media Queries.-------------------------- */
 @media screen and (max-width: 850px){
   html { font-size: 12px; }
 }
 @media screen and (max-width: 700px){
  body { width: 80%; }
  .main { height: 83vh; }
  p { font-size: 1.2rem ;}
  button, span { font-size: 1rem; }
  .buttonsContainer span { min-width: 14%; }
 }
 @media screen and (max-width: 600px){
  body { width: 100%; }
}
 @media screen and (max-width: 450px){
   html { font-size: 10px; }
   .main { height: 86vh; }
   .buttonsContainer { padding: .15rem; }  
   .buttonsContainer * { width: 14%; } 
   p { font-size: 1.4rem; }
   button, span { font-size: 1.2rem; }
   .fontItemText { min-width: 68%; }
   .horizontalColItem { min-width: 6rem; }
 }
 @media screen and (max-width: 380px){
  .main { height: 89vh; }
  p { font-size: 1.6rem; }
  button, span { font-size: 1.4rem; }
  .horizontalColItem { min-width: 8rem; }
 }
 @media screen and (max-width: 300px){
   html { font-size: 8px; }
 }
